/* semantic html */

body {
    font-family: "Montserrat";
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
}

p {
    color: #8f8f8f;
}

/* color sections */

.colored-section {
    background-color: #ff4c68;
    color: white;
}

.white-section {
    background-color: #fff;
}

/* containers */

.container-fluid {
    padding: 7% 15%;
}

/* navbar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light"
}

/* title section */

#title {
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

.big-heading {
    font-family: "Montserrat-Black";
    size: 3.5rem;
    line-height: 1.5;
}



.positioning {
    position: relative;
}

.rotated {
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
}


.download-button {
    margin: 5% 3% 5% 0;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

/* features section */

#features {
    font-size: 1.5rem;
    background-color: white;
    position: relative;
    z-index: 1;
}

.feature-title {
    font-size: 1.5rem;
}

.feature-box {
    padding: 5%;
}

.icon:hover {
    color: #ff4c68;
}

/* testimonial section */

#testimonials {
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}


/* press section */

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-image {
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing section */

#pricing {
    padding: 100px;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}

/* call to action section */


.find-true {
    font-family: "Montserrat-Black";
    color: white;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* footer section with social media */

.icon-2 {
    margin: 3% 2%;
}

.icon-2:hover {
    color: #ff4c68;
}

/* media queries */

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .rotated {
        position: static;
        transform: rotate(0);
    }
}



